:root {
  font-family: 'Courier New', monospace; 
  background-color: #dac55a;
  color: #e06e03; 
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.pokedex-container {
  text-align: center;
  margin-top: 50px;
  border: 2px solid #a54801;
  padding: 40px;
  border-left: 5px solid #b92e00;
  border-radius: 10px;
  background-color: #fce15a;
  box-shadow: 0 0 20px rgba(217, 92, 14, 0.548);
}

input {
  border-radius: 10px;
  padding: 10px;
  background: #d3df6a;
  border: 1px solid #850000;
  color: #3b0000;
  margin-right: 10px;
  font-family: inherit;
}

button {
  padding: 10px 20px;
  background: #d2a83c;
  color: #cd2b25;
  border: 1px solid #5c0000;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

button:hover {
  background: #ffb300;
  color: #430202;
}

.error-msg {
  color: #ff3333;
  margin-top: 20px;
  white-space: pre-line; 
  background-color: rgba(255, 50, 50, 0.1);
  padding: 10px;
  border-left: 3px solid #ff3333;
}

.data-display {
  margin-top: 30px;
  border-top: 1px dashed #e38b3f;
  padding-top: 20px;
}

img {
  width: 150px;
  height: 150px;
 
}

.search-interface {
  display: flex;
}
.search-btn{
  display: flex;
  gap: 10px;
}